/*************************************
             HTML part
 *************************************/
html {
    height : 100%;
}
body {
    background-color : #161616; /*#EDF0F2;*/
    font-family      : monospace;
    color            : #BBBFC2;
    height           : 100%;
}
/*   Scroll bar less ugly   */
html::-webkit-scrollbar {
    width  : 10px;
    height : 10px;
}
html::-webkit-scrollbar-thumb {
    background-color   : #4A4A4A; /*rgba(10,10,10,1);*/
    -webkit-box-shadow : inset 1px 1px 0 rgba(0, 0, 0, 0.90), inset 0 -1px 0 rgba(0, 0, 0, 0.97);
}
html::-webkit-scrollbar-button {
    width   : 0;
    height  : 0;
    display : none;
}
html::-webkit-scrollbar-corner {
    background-color : transparent;
}
input, select {
    color            : #ADAFAE !important;
    background-color : #4A4A4A !important;
    border           : 1px solid #636363 !important;
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
      transition: border linear .2s,box-shadow linear .2s!important;*/
}
.popover {
    background-color : #292929;
    min-width        : 400px ! important;
}
.popover-title {
    background-color : #242424;
    border-bottom    : 1px solid black;
}
.btn {
    border-radius     : 0;
    box-shadow        : 0px -2px 0px rgba(0, 0, 0, 0.15) inset;
    background-image  : linear-gradient(to bottom, #383838 0%, #1F1F1F 100%);
    background-image  : linear-gradient(to bottom, #2B2B2B 0%, #121212 100%);
    background-repeat : repeat-x;
    filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2b2b2b', endColorstr='#ff121212', GradientType=0);
    border-color      : #0C0C0C;
    color             : #F9F9F9;
    background-color  : #2B2B2B;
    text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.btn-default.active {
    -webkit-box-shadow : inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow         : inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-default:hover {
    color : #F9F9F9;
}
.btn-default.active:hover {
    color : #333333;
}
.btn-default .badge {
    color            : #333333;
    background-color : #D6D6D6;
}
.nopadleft {
    padding-left : 0px;
}
.scrollable {
    /*
    overflow: auto;
    height: 800px;
    margin-bottom: 30px; 
    */
}
#main-cont {
    height : 100%;
    width  : 100%;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-left-radius : 4px;
}
.modal-content {
    background-color : #161616;
}
#data-cont {
    margin-top : 10px;
    width      : calc(100% - 200px);
    display    : inline-block;
    top        : 0px;
    position   : absolute;
}
.srv-item {
    width : 250px !important;
}
.show-pointer:hover {
    cursor : pointer;
}
.list-group-item {
    padding             : 0;
    border-width        : 2px;
    border-bottom-width : 2px;
    border-radius       : 2px;
    margin-bottom       : 15px;
    margin-top          : 15px;
    transition          : background-color 0.3s ease-in-out;
    background-color    : #292929;
}
.list-group-item .list-group-item-heading, .list-group-item .list-inline {
    /*margin: 10px 15px 10px 15px;*/
    padding   : 0px 5px 10px 5px;
    word-wrap : break-word; /* Do not ellipsis this, just cut it below*/
    width     : 100%;
    overflow  : hidden;
}
.list-group-item .list-group-item-heading {
    border-bottom : 2px solid #EEEEEE;
    color         : #FFD357; /*#555555; */
}
.list-group-item.list-link:hover {
    cursor           : pointer;
    background-color : #ADAFAE; /*#fafafa;*/
}
.list-group-item.list-condensed-link:hover {
    cursor : url(cursor/elder.cur), progress !important;
    /*background-color : #ADAFAE;*/
}
.list-group-item.list-condensed-link, .list-group-item.list-condensed {
    /*border-color: #e6e6e6;*/
    margin-bottom : 4px;
    margin-top    : 14px;
    /*font-weight: 700; */
}
.list-group-item.list-condensed-link .name, .list-group-item.list-condensed .name, .name {
    font-size     : 15px;
    /*padding-top: 6px; */
    color         : #FFD357;
    text-overflow : ellipsis;
    width         : 100%;
    overflow      : hidden;
}
.list-group-item.list-condensed-link .name small, .list-group-item.list-condensed .name small, .name small {
    padding-right : 8px;
    padding-top   : 2px;
    font-size     : 12px;
    color         : #ABEBD9; /*#939393; */
}
.sstate small {
    color : #FF71E2 !important;
}
.list-bar-horizontal {
    width        : 20px;
    float        : left;
    height       : 100%;
    margin-right : 10px;
}
.list-group-item.active {
    transition   : border-color 0.1s linear;
    border-color : #9E84C5;
}
.active > .list-bar-horizontal {
    transition       : background-color 0.1s linear;
    background-color : #9E84C5;
}
/*
.bg-purple {
    border-color : #9E84C5;
}
*/
.node-list {
    padding-left : 0px;
}
.node-list > li {
    display          : inline-block;
    text-align       : left;
    width            : 220px;
    min-height       : 60px;
    margin           : 0.6em;
    text-shadow      : 1px 1px 0 black;
    background-color : #292929; /*#333333;*/
    color            : white;
    padding          : 15px;
    border-width     : 3px;
    border-style     : solid;
}
.bloc-heading {
    padding       : 10px 7px;
    border-width  : 2px;
    border-bottom : 2px solid #E6E6E6;
}
.bs-callout-warning {
    border-left-color : #F0AD4E;
    border            : 1px solid #F0AD4E;
}
.bs-callout-warning h4 {
    color : #F0AD4E;
}
.bs-callout {
    padding           : 20px;
    margin            : 20px 0;
    border            : 1px solid #EEEEEE;
    border-left-width : 5px;
    border-radius     : 3px;
}
.red, .red a {
    color : red;
}
/********************************************
                   Menu
 ********************************************/
#menu-cont {
    height       : 100%;
    min-width    : 150px;
    max-width    : 250px;
    margin-left  : 20px;
    display      : inline-block;
    margin-right : 20px;
}
#menu {
    border-left     : 2px solid #FFFFFF;
    border-right    : 2px solid #FFFFFF;
    background      : rgba(0, 0, 0, 1);
    float           : left;
    font-size       : 1.5em;
    min-height      : 100%;
    margin-left     : 0px;
    padding-left    : 4px;
    list-style-type : none;
    margin-bottom   : 0px;
    width           : 100%;
}
#menu li {
    position : relative;
    z-index  : 1;
    margin   : 0;
    padding  : 0;
}
#menu li a {
    display         : block;
    padding         : 0.5em 1em;
    white-space     : nowrap;
    color           : rgba(255, 255, 255, 0.6);
    text-decoration : none;
    background      : rgba(0, 0, 0, 1);

}
#menu li a:hover, #menu li:hover > a {
    color  : #FFFFFF;
    cursor : url(cursor/elder.cur), progress !important;
}
/* AFTER is the right tic that show when hover it*/
#menu li a:hover:after {
    content          : "";
    display          : block;
    width            : 20px;
    height           : 1em;
    position         : absolute;
    top              : 0.5em;
    right            : -9px;
    z-index          : 2;
    background-image : url(img/menu-right-tick.png);
}
#menu li ul {
    position         : absolute;
    overflow         : hidden;
    display          : none;
    left             : 100%;
    top              : 0.5em;
    float            : none;
    /*    background-image : -moz-radial-gradient(0 50%, ellipse farthest-side, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 33%, rgba(0, 0, 0, 0) 100%);
        background-image : -webkit-radial-gradient(0 50%, ellipse farthest-side, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 33%, rgba(0, 0, 0, 0) 100%);*/
    background-image : radial-gradient(0 50%, ellipse farthest-side, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 33%, rgba(0, 0, 0, 0) 100%);
    list-style-type  : none;
    margin           : 0;
    padding          : 0;
}
#menu li:hover ul {
    display : block;
}
#menu li ul a {
    position        : relative;
    font-size       : 0.8em;
    color           : rgba(255, 255, 255, 0.6);
    text-decoration : none;
}
#menu li ul a:hover:before {
    content           : "";
    display           : block;
    width             : 1em;
    height            : 1em;
    background        : rgba(0, 0, 0, 0.75);
    border            : 1px solid #FFFFFF;
    position          : absolute;
    top               : 0.5em;
    left              : -0.75em;
    -moz-transform    : rotate(45deg);
    -webkit-transform : rotate(45deg);
    transform         : rotate(45deg);
}
#data-top-line {
    width   : 100%;
    display : inline-block;
}
#filter-value {
    width     : 60%;
    max-width : 400px;
}
#filter-value-cont {
    display : inline;
}
#filter-help {
    color : gray;
}
.elder-li {
    border-width  : 2px !important;
    border-style  : solid !important;
    border-radius : 0px !important;
    border-color  : #C7C7C7 !important;
}
.corner-bottom-left {
    position : absolute;
    left     : -8px;
    bottom   : -7px;
}
.corner-bottom-right {
    position : absolute;
    right    : -8px;
    bottom   : -7px;
}
.top-bloc-bar {
    position         : absolute;
    top              : -10px;
    right            : 20px;
    font-size        : 12px;
    padding-right    : 10px;
    padding-left     : 10px;
    background-image : url(img/top-bloc-back-x.png);
}
.top-bloc-bar:after {
    content          : "";
    display          : block;
    width            : 19px;
    height           : 20px;
    position         : absolute;
    top              : -2px;
    right            : -19px;
    background-image : url(img/right-pic.png);
}
.top-bloc-bar:before {
    content          : "";
    display          : block;
    width            : 19px;
    height           : 20px;
    position         : absolute;
    top              : -2px;
    left             : -19px;
    background-image : url(img/left-pic.png);
}
/*************************************************

              Main state colors

 ************************************************/
.state-dead {
    color : #DD4E58;
}
.state-suspect {
    color : #FFAC5E;
}
.state-leave {
    color : #939393;
}
.state-alive {
    color : #BBF085;
}
.bg-purple {
    color : #9E84C5;
}
/*************************************************
                  Right part
*************************************************/
#part-right {
    min-width : 25px;
    display   : inline;
    position  : absolute;
    right     : 0px;
    height    : 100%;
    top       : 0px;
}
#part-right-button {
    background-color : black;
    height           : 100%;
    width            : 25px;
    float            : left;
}
#part-right-button .right-panel-button {
    color : white;
}
#part-right-content {
    display          : none;
    top              : 0px;
    right            : 0px;
    background-color : black;
    float            : right;
    min-width        : 600px;
    max-width        : 800px;
    height           : 100%;
    border-left      : white 1px solid;
}
#part-right.expanded .part-right-content {
    display : inline-block;
}
/* When expandend, switch to chevron-right content */
#part-right.expanded .right-panel-button:before {
    content : "\e080";
}
#toggle_btn {
    position : absolute;
    top      : 50%;
    left     : 5px;
}
/**************************
           Detail
**************************/
#detail-name {
    color     : #FFD357;
    font-size : 18px;
}
#detail-addr {
    color : #ABEBD9;
}
#detail-state {
    color : #FF71E2;
}
#detail .detail-header-panel {
    width   : 24%;
    display : inline-block;
}
/********************************
           Connections panel
********************************/
#connexions-ul .state-pending {
    color : #ABEBD9; /*blue*/
}
#connexions-ul .state-ok {
    color : #7BC659; /*green*/
}
#connexions-ul .state-error {
    color : #DD4E58; /*red*/
}
/*********************************
         Collector data
*********************************/
#detail-collectors .collector-data {
    display : none;
}
#detail-collectors-list {
    display : none;
}
